    h1 {
        color: brown;

    }

    .vishnu {
        color: red;

    }

    .vishu-cv {
        font-size: 292px;

    }


    div {
        width: 200px;
        height: 200px;
        background-color: bisque;
        border-radius: 10px;
        margin-bottom: 20px ;

    }

    .lord-hari {
        width: 199px;
        height: 199px;
        border-radius: 10px;
        margin-top: 30px;
    }